@import "../../styles/main.scss";

.grid {
  flex: 1 0 auto; // placed for sticky footer.
  padding: $mobile-padding;
  width: 100%;
  @include grid;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }

  @include desktop-xl {
    margin: auto;
    padding-top: $scale5;
    padding-bottom: $scale5;

    padding-left: 0;
    padding-right: 0;
  }
}

.has-min-height {
  min-height: calc(100vh - #{$header-height});
}

.center {
  align-content: center;
}
