-c requirements.txt
bandit
black
itermplot
jupyterlab
matplotlib
mypy
pycodestyle
pydocstyle
pylint
pytest
pyyaml
safety
wandb
boto3 # aws
torch-summary
pre-commit
pytest-xdist
pytest-cov
pytest-testmon
## packaging # fix testmon crash (dependency)
pytest-watch
pytest-picked
