@import "../../styles/main.scss";

header {
  z-index: 10;
  a {
    color: white;
    text-decoration: none;
  }

  div.status-bar {
    background-color: color(primary-dark);
    height: $baseline;
  }
  background-color: color(primary);

  div.header-content {
    max-width: $grid-desktop-max-width;
    margin: 0 auto;
    color: white;
    padding: $scale0 nth($mobile-padding, 2);
    text-align: left;
    .logo {
      margin: 0;
    }

    @include tablet {
      padding: $scale0 nth($tablet-padding, 2);
    }

    @include desktop {
      padding: $scale0 nth($desktop-padding, 2);
    }

    @include desktop-xl {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
